*.o
*.lo
*.so
config.log
config.status
Makefile
bandb/bandb
bandb/bantool
include/serno.h
include/setup.h
libratbox/config.log
libratbox/config.status
libratbox/include/libratbox_config.h
libratbox/include/stamp-h1
libratbox/libratbox.pc
libratbox/libtool
libratbox/src/.deps/
libratbox/src/.libs/
libratbox/src/libratbox.la
src/ircd
src/lex.yy.c
src/version.c.last
src/y.tab.c
src/y.tab.h
ssld/ssld
tools/convertilines
tools/convertklines
tools/genssl
tools/mkpasswd
tools/viconf
